<input type="hidden" value="<%= "Show exact User: #{@user.id}" %>" />
<div id="author_part">
  <%= render @user %>
  <%= render 'users/bio' %>
  <%= render @user.most_recent_posts %>
  <div class="row-center"><%= link_to(user_posts_path(@user.id)) { 'See all posts' } %></div>
</div>