<h1>New Post</h1>

<% flash.each do |key, message| %>
  <div><%= message %></div>
<% end %>
<%= form_with model: @post, url: user_posts_path do |form| %>
  <%= form.hidden_field :author_id %><br>
  <div>
    <%= form.label :title, "Title" %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :text, "Text" %><br>
    <%= form.text_area :text %>
  </div>
  <%= form.submit %>
<% end %>  